[submodule "memberly-react"]
	path = memberly-react
	url = https://github.com/troyeguo/memberly-react-client.git
[submodule "memberly-node"]
	path = memberly-node
	url = https://github.com/troyeguo/memberly-node-server.git
