[submodule "coodo-pay-client"]
	path = coodo-pay-client
	url = https://github.com/troyeguo/coodo-pay-client.git
[submodule "coodo-pay-server"]
	path = coodo-pay-server
	url = https://github.com/troyeguo/coodo-pay-server.git
