[submodule "memberly-react-client"]
	path = memberly-react-client
	url = https://github.com/troyeguo/memberly-react-client.git
[submodule "memberly-node-server"]
	path = memberly-node-server
	url = https://github.com/troyeguo/memberly-node-server.git
